* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 6rem 20rem;
  background: #181818;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.title {
  font-family: eds-market-bold, sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  font-style: normal;
  color: #f0f0f0;
  text-align: center;
}
